openapi/
.yarn


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
bundlemeta.json
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

coverage
*storybook.log
storybook-static

public/images/*.ico
public/images/*.png
public/*.ico
public/*.png

tsconfig.app.tsbuildinfo
tsconfig.node.tsbuildinfo