.certs
.idea
.yarn
dist
nginx
node_modules
.dockerignore
.env
.gitignore
.prettierignore
.prettierrc
.yarnrc.yml
Dockerfile
eslint.config.js
package.json
README.md
tsconfig.app.json
tsconfig.app.tsbuildinfo
tsconfig.json
tsconfig.node.json
tsconfig.node.tsbuildinfo
yarn.lock